/*======================================
    Counter CSS
========================================*/
.counter-area {
    background-image: url('../images/footer/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    @media #{$md} {
        padding: 80px 0;
    }

    @media #{$xs} {
        padding: 30px 0;
    }

    .single-counter {
        text-align: center;
        padding: 0px 30px;

        @media #{$md} {
            padding: 0px;
        }

        @media #{$xs} {
            padding: 20px 0;
        }

        h3 {
            color: $white;
            font-size: 35px;
            font-weight: 700;

            @media #{$md} {
                font-size: 32px;
            }

            @media #{$xs} {
                font-size: 28px;
            }
        }

        p {
            color: $white;
            margin-top: 12px;
        }
    }
}